# dependencias
node_modules
.pnp
.pnp.js

# builds
.next
out
build
dist

# ambiente — NUNCA commitar segredos
.env
.env*.local

# editores e SO
.idea
.vscode/*
!.vscode/extensions.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# netlify
.netlify
