// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1,
h2,
h3 {
  text-align: center;
}

.section-header {
  background-image: url('/background_header.jpg');
  background-position: 100px center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  margin-top: -50px;
  height: 100vh;

  .panel-left {
    background-color: #fff;
  }

  .personal {
    position: absolute;
    color: $grey-9;
    margin-left: 18%;
    margin-top: 30vh;

    .firstname,
    .surname {
      text-transform: uppercase;
      font-size: 4.5rem;
      font-weight: 900;
      font-family: 'Poppins', sans-serif;
    }
    .firstname {
      color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #000;
    }
    .surname {
      margin-top: -28px;
      color: #000;
    }
    .code {
      margin-top: -20px;
      margin-bottom: 20px;
      padding-left: 4px;
      font-size: 0.9rem;
      font-weight: bold;
      text-align: left;
    }
    .short-summary {
      font-size: 1.2rem;
      padding-left: 4px;
      color: $grey-7;
      font-style: italic;
    }
  }
}

.q-header {
  background-color: #fff !important;
  color: $grey-9;

  &.on-top {
    background-color: transparent !important;
    color: $grey-9;
  }
}

.section-about {
  background-color: #fff;
  padding-top: 5vh;
  padding-bottom: 10vh;

  .thumbnail {
    margin-top: 100px;
  }
  h2 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 150px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    margin-top: 70px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $grey-3;
    text-align: left;

    small {
      color: #000;
      -webkit-text-stroke-width: 0;
      position: absolute;
      font-size: 3rem;
      margin-top: 10px;
    }
  }

  .short-summary {
    font-size: 1rem;
    padding-left: 4px;
    color: $grey-7;
    font-style: italic;
    margin-top: -100px;
  }

  .q-separator {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  p {
    font-size: 1.2rem;
  }
}

.section-portfolio {
  background-color: #f8f9fa;
  color: $grey-9;
  padding-top: 10vh;
  padding-bottom: 20vh;

  h2 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 150px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    margin-top: 70px;
    margin-bottom: 100px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $grey-4;
    text-align: left;

    small {
      color: #000;
      -webkit-text-stroke-width: 0;
      position: absolute;
      font-size: 3rem;
      margin-top: 10px;
    }
  }

  .q-card {
    border-radius: 0;
    aspect-ratio: 1 / 1;

    .q-card__section.title {
      font-size: 16px;
      font-weight: 400;
      font-family: 'Poppins', sans-serif;
      padding-top: 8px;
      padding-bottom: 8px;
      color: #000;
      background: linear-gradient(45deg, #f8f9fa, transparent);
      position: absolute;
      top: 30px;
      left: 0;
      right: 0;
    }
    .content-icon {
      text-align: center;
      font-size: 5em;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .q-card__actions {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      color: #000;
    }
  }
}

.section-contact {
  background-color: #fff;
  padding-top: 10vh;
  padding-bottom: 20vh;

  h2 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 150px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    margin-top: 70px;
    margin-bottom: 100px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $grey-3;
    text-align: left;

    small {
      color: #000;
      -webkit-text-stroke-width: 0;
      position: absolute;
      font-size: 3rem;
      margin-top: 10px;
    }
  }

  p {
    font-size: 1.2rem;
  }
}

.section-footer {
  background-color: rgb(35, 35, 35);
  color: #fff;
  padding-top: 10vh;
  padding-bottom: 8vh;

  .email,
  .location {
    color: #fff;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
  }
  .social {
    a {
      color: #fff;
      font-weight: 400;
      font-family: 'Poppins', sans-serif;
      text-decoration: none;
      font-size: 1.2rem;
      margin-left: 20px;
    }
  }
}

.section-portfolio-details {
  background-color: #fff;
  color: $grey-9;
  padding-top: 0;
  padding-bottom: 20vh;

  h2 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 150px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    margin-top: 70px;
    margin-bottom: 100px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $grey-4;
    text-align: left;

    small {
      color: #000;
      -webkit-text-stroke-width: 0;
      position: absolute;
      font-size: 3rem;
      margin-top: 10px;
    }
  }
}

.q-card.q-dialog-50p {
  width: 63vw;
  max-width: 63vw;
  height: 90vh;

  .content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 15vh;
  }
}
